body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png");
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.resultado {
  position: absolute;
  top: 350px;
  right: 130px;
  color: white;
}

.form-wrapper {
  margin: 0 0 15px;
}

.form-wrapper input {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  position: absolute;
  top: 230px;
  right: 170px;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #ffff00;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  borde-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 260px;
  right: 190px;
}

.form-wrapper button:hover {
  opacity: 0.8;
}

.final {
  position: absolute;
  top: 350px;
  right: 155px;
  color: White;
}
